<li>
  <span class="gravatar">
  	<a href="<%= user_path(comment.user) %>"><%= gravatar_for comment.user, size: 30 %>
  	</a>
  </span>
  <span class="content"><%= comment.content %></span>
  <span class="timestamp">
  	<%= link_to comment.user.school_id.upcase, comment.user %> Posted 
    <%= time_ago_in_words(comment.created_at) %> ago.
  </span>
  <% if current_user?(comment.user) %>
    <%= link_to "DELETE", [@book, comment], method: :delete %>
  <% end %>
</li>