<% provide(:title, @user.school_id) %>
<div class="row">
  <aside class="span4">
  	<section>
  	  <h1>
  	    <%= gravatar_for(@user) %>
        <%= @user.school_id.upcase %>
      </h1>
  	</section>
  </aside>
  <div class="span8">
  	<% if @user.books.any? %>
  	  <h3>Books (<%= @user.books.count %>)</h3>
  	  <ol class="books">
  	    <%= render @books %>
  	  </ol>
  	  <%= will_paginate @books %>
    <% else %>
      <h3>No books! Try add some here!</h3>
      <hr />
      <%= link_to "Add new book", new_book_path %>
  	<% end %>
  </div>
</div>