<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 52 %>
</a>
<h1>
  <%= current_user.school_id.upcase %>
</h1>
<span>
  <%= link_to "觀看個人檔案", current_user %>
</span>
<span>
  <%= pluralize(current_user.books.count, "book") %>
</span>