<h1><%= @book.title %></h1>
<span class="cover"><%= image_tag @book.photo.url, class: 'img-polaroid' %></span>
<table class="book-info">
	<tr>
		<th>Title</th>
		<td><%= @book.title %></td>
	</tr>
	<tr>
		<th>Condition</th>
		<td><%= @book.condition %></td>
	</tr>
	<tr>
		<th>Description</th>
		<td><%= @book.notes %></td>
	</tr>
</table>