<li>
  <span class="thumb"><%= image_tag book.photo.url %></span>
  <span class="title"><%= book.title %></span>
  <span class="timestamp">
  	Posted <%= time_ago_in_words(book.created_at) %> ago.
  </span>
  <% if current_user?(book.user) %>
  	<%= link_to "edit", edit_book_path(book) %> | 
  	<%= link_to "delete", book, method: :delete,
  								confirm: "You sure?" %>
  <% end %>
</li>